/* ################### */
/* mars rover site CSS */
/* ################### */
/* ################### */
/*    Dev Settings     */
/* ################### */
/* div{
  border: red 1px solid;
}; */
/* ################### */
/* ################### */

/* ################### */
/*   global settings   */
/* ################### */

*{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: white;
}
h4{
  color: rgb(179, 179, 179);
}

a{
  text-decoration: none;
  color: white;
  text-decoration-line: underline;
}
/* ################### */
/* ################### */

/* ################### */
/*       Body.js       */
/* ################### */

#div-container, #div-header, #div-footer{
  display: flex;
  flex-direction: column;
}
    /* Header.js */
    #div-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 15vh;
      background-color: #bc2731;
    }
    /* ################### */
    /* Content.js */
    #div-maincontent{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 80vh;
    }
      .div-space{
        height: 100%;
        width: 1vw;
        /* background-color: #bc2731; */
      }
      #div-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
      }
        #div-content-input{
          display: flex;
          flex-direction: column;
          width: 40%;
          height: 100%;
          /* background-color: blue; */
        }
          #div-CI-tital{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 10vh;
            align-items: center;
            /* background-color: aqua; */
          }
            #div-CIT-header{
              display: flex;
              width: 70%;
              height: 5vh;
              align-items: center;
              justify-content: center;

            }
          #div-choose-text, #div-sol-info{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 5vh;
            justify-content: center;
            align-items: center;
          }
          #div-rover-choice, #div-enter-info{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 5vh;
            justify-content: space-evenly;
            align-items: center;
            background-color: #3b3b42;
          }
            .rover-tag-spacing{
              display: flex;
              width: 33.33%;
              justify-content: center;
              align-items: center;
            }
            .rover-tag, .get-mars{
              color: white;
              cursor: pointer;
            }
             .rover-tag:hover{
                display: flex;
                color: #ffffff;
                background-color: #707080;
                height: 5vh;
                width: 100%;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
              .get-mars:hover{
                display: flex;
                color: #ffffff;
                background-color: #707080;
                height: 5vh;
                width: 50%;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }

            #div-sole-input{
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 10vh;
              align-items: center;
              justify-content: center;
            }
            #input-sol, #get-mars{
              width: 10vw;
              height: 3vh;
              border: 0px;
              box-shadow: 0px 0px 2px 0px;
              border-radius: 5px;
            }
          #div-rover-info{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }
          #div-ri-rover-sol{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            min-height: 5vh;
            border: #bc2731 solid 1px;
          }

          /* images side */
        #div-rover-img{
          display: flex;
          flex-direction: column;
          width: 60%;
          height: 100%;
          /* border: #bc2731 1px solid; */
        }

        .div-spcae-two{
          display: flex;
          width: 100%;
          height: 5vh;
          /* border: #bc2731 solid 1px; */
          background-color: #3b3b42;
        }
        #div-img-content{
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 90%;
          justify-content: center;
          align-items: center;
          /* background-color: #bc2731; */
          border: #bc2731 solid 1px ;
        }
        #img-controlls{
          display: flex;
          flex-direction: row;
          height: 5vh;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: #3b3b42;
        }
        .imgChange{
          display: flex;
          height: 100%;
          width: 5vw;
          justify-content: center;
          align-items: center;
          border-bottom: black solid 1px;

        }
        img{
          /* display: flex; */
          max-width: 70%;
          max-height: 70%;
        }
    /* ################### */
    /* Footer.js */
    #div-footer{
      width: 100%;
      height: 5vh;
      background-color: #3b3b42;
      align-items: center;
      justify-content: center;
    }